<div class="container">
  <h1>Hello {{name()}}</h1>

  <ul>
    <li *ngFor="let task of tasks()">
      {{task}}
    </li>
  </ul>

  <hr>

  <h2>{{'Hola'.repeat(4)}}</h2>
  <p>	la suma de 3 + 3 es {{3+3}}</p>
  <p> hola soy {{ person().name }} y mi edad es {{ person().age }}</p>

  <hr>
  <img [src]="person().avatar" alt="">
  <input type="text" [value]="person().name">
  <button [disabled]="disabled">click me</button>

  <hr>

  <button (click)="clickHandler()">click me</button>
  <hr>
  <button (dblclick)="clickHandler()">doble-click me</button>
  <hr>
  <p>(change)</p>
  <input type="number" [value]="person().age" (change)="changeHandler($event)">
  <p>(change)</p>
  <input type="text" [value]="person().name" (change)="changeHandler($event)">
  <p>(keydown)</p>
  <input type="text" [value]="person().name" (keydown)="keydownHandler($event)">
  <p>(keydown.Enter)</p>
  <input type="text" [value]="person().name" (keydown.enter)="clickHandler()">
  <hr>
  <ul>
    <p>Total: {{ tasks().length }}</p>
    <li *ngFor="let task of tasks(); index as i">
      {{ i }} {{ task }}
    </li>
  </ul>
  <hr>
  <h1>Signal</h1>
  <input type="text" [value]="name()" (change)="changeHandler($event)">
  <h1>Hello {{name()}}</h1>

  <hr>

  <div *ngIf="1!==1">
    My Content
  </div>
  <div *ngIf="name() === 'José Darío González Cruz'">
    My Content2
  </div>

  <input type="number" [value]="person().age" (change)="changeAge($event)">

  <div *ngIf="person().name === 'dario' && person().age > 18; else elseBlock" >
    Hi my name is dario and i am over 18 years old
  </div>
  <ng-template #elseBlock>
    Hi my name is dario and i am under 18 years old
  </ng-template>

  <hr>

  <input type="color" [formControl]="colorCtrl">
  <p>Color: {{ colorCtrl.value }}</p>

  <svg>
    <g>
      <rect x="0" y="0" height="100" width="100" [attr.fill]="colorCtrl.value"/>
    </g>
  </svg>
  <hr>
  <input type="number" [formControl]="widthCtrl">
  <span class="box" [style.width.px]="widthCtrl.value"></span>
  <hr>
  <p>
    <input type="text" [formControl]="nameCtrl"> <br>
    <span class="message-error" [class.show]="nameCtrl.invalid && nameCtrl.touched">Nombre inválido</span>
  </p>
  <p>
    <input type="text">
  </p>
</div>